<h4>Listados</h4>
<ul class="list-group">
  <li *ngFor="let caracterV of caracterList;
  let i=index;
  let primero=first;
  let ultimo=last;
  let espar=even;
  let esimpar=odd;
  " class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="{
    'list-group-item-dark': primero,
    'list-group-item-primary': espar

   }">

    <div>
      <span class="text-primary"> {{i}}. </span>
      <span>{{caracterV.name}}</span>
      <strong> / Fecha de inicio: </strong>
      <span>{{caracterV.tiempo}}</span>
      <!--<span> Es el primero:{{i===0}}</span> apunta al primer indice -->
      <span> Es el primero:{{primero}}</span>
      <!--<span>Es el último:{{i=== caracterList.length -1}} apunta al último elemento </span> -->
      <span>Es el último:{{ultimo}}</span>
      <!--
     <span>Es Par:{{espar }}</span>
     <span>Es impar:{{esimpar}}</span>
    -->

    </div>

    <button (click)="onDeleteCaracterH(caracterV.id)" class="btn btn-danger"> X</button>

  </li>
</ul>
