
<h4>Agregar Caricatura</h4>
  <form class="row" (ngSubmit)="enviarCaracteres()" >
    <input type="text"
     [(ngModel)]="carcacter.name"
     name="nombre"
     class="form-control mb-3"
     placeholder="Nombre"> <!--FormsModule agregarla "Import" en personaje1.module.ts-->

     <input type="number"
     name="tiempo"
     [(ngModel)]="carcacter.tiempo"
      class="form-control mb-3"
      placeholder="Año">

  <button type="submit" class="btn btn-primary">
   Agregar
  </button>

  <pre>{{carcacter | json}}</pre>
</form>
